<div *ngIf="error">
    <p>Error occurred: {{ error.message }}</p>
</div>

<div *ngIf="!error">
    <ng-container *ngIf="legalNames$ | async as legalNames">
        <mat-form-field class="wide-select" *ngIf="legalNames.length > 0">
            <mat-label>Select Participant</mat-label>
            <mat-select [value]="legalName" (selectionChange)="onLegalNameChange($event)">
                <mat-option [value]="null">All Offerings</mat-option>
                <mat-option *ngFor="let name of legalNames" [value]="name">
                    {{ name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="services$ | async as services">
        <div *ngIf="services.length === 0; else serviceList">No offers found.</div>

        <ng-template #serviceList>
            <div class="card-container">
                <app-service-card
                    *ngFor="let service of services"
                    [service]="service"
                    (viewGraph)="navigateToQuery($event)"
                ></app-service-card>
            </div>
        </ng-template>
    </ng-container>
</div>
