<mat-card *ngIf="data">
    <mat-card-header>
        <mat-card-title *ngIf="label && (label | async); else noLabel">
            {{ '"' + (label | async) + '" Entries' }}
        </mat-card-title>
        <ng-template #noLabel><mat-card-title>Browse Catalog Contents</mat-card-title></ng-template>
        <mat-card-subtitle>Total: {{ totalCounts[getTabKey()] || 0 }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group dynamicHeight [(selectedIndex)]="selectedTab" (selectedIndexChange)="onTabChange($event)">
            <mat-tab label="Legal Participant">
                <app-node-table [nodes]="data['LegalParticipant'] || []"></app-node-table>
                <button mat-raised-button color="primary" *ngIf="canLoadMore('LegalParticipant')" (click)="loadMore()">
                    Load More <mat-icon>expand_more</mat-icon>
                </button>
            </mat-tab>
            <mat-tab label="Service Offering">
                <app-node-table [nodes]="data['ServiceOffering'] || []"></app-node-table>
                <button mat-raised-button color="primary" *ngIf="canLoadMore('ServiceOffering')" (click)="loadMore()">
                    Load More <mat-icon>expand_more</mat-icon>
                </button>
            </mat-tab>
            <mat-tab label="Resource">
                <app-node-table [nodes]="data['Resource'] || []"></app-node-table>
                <button mat-raised-button color="primary" *ngIf="canLoadMore('Resource')" (click)="loadMore()">
                    Load More <mat-icon>expand_more</mat-icon>
                </button>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>
