<mat-card>
    <mat-card-header>
        <ng-template><mat-card-title>Browse Catalog Contents</mat-card-title></ng-template>
    </mat-card-header>
    <ng-container *ngIf="data$ | async as data">
        <mat-card-content>
            <mat-tab-group
                dynamicHeight
                [selectedIndex]="selectedTab$.value"
                (selectedIndexChange)="onTabChange($event)"
            >
                <mat-tab label="Legal Participant">
                    <app-node-table [nodes]="data.nodes"></app-node-table>
                </mat-tab>
                <mat-tab label="Service Offering">
                    <app-node-table [nodes]="data.nodes"></app-node-table>
                </mat-tab>
                <mat-tab label="Resource">
                    <app-node-table [nodes]="data.nodes"></app-node-table>
                </mat-tab>
            </mat-tab-group>
            <mat-card-footer> Showing {{ data.nodes.length }} of {{ data.totalCount }} total </mat-card-footer>
        </mat-card-content>
        <mat-card-actions *ngIf="data.nodes.length < data.totalCount">
            <button mat-button (click)="loadMore()"><mat-icon>unfold_more</mat-icon> Load More</button>
        </mat-card-actions>
    </ng-container>
</mat-card>
