mat-card-header {
    flex-direction: column;

    .header-row {
        display: flex;
        align-items: center;
    }

    mat-form-field.page-size-select {
        margin-right: 2rem;
        font-size: 0.875rem;
    }
}
