<mat-toolbar>
    <span class="app-name">Federated Catalog Viewer</span>
    <span class="app-toolbar--spacer"></span>

    <a mat-button routerLink="">Browse Catalog</a>
    <a mat-button routerLink="query">Query Tool</a>
    <ng-container *ngIf="isLoggedIn">
        <button id="user-menu" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="User: {{ username }}">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </ng-container>
</mat-toolbar>

<div class="app-content">
    <app-authentication></app-authentication>
    <ng-container *ngIf="isLoggedIn">
        <router-outlet></router-outlet>
    </ng-container>
</div>
