.app-toolbar {
    .app-spacer {
        flex: 1 1 auto;
    }
    background: #fff;
    img {
        height: 32px;
        margin: 0 16px;
        align-self: flex-end;
    }
    img.logo-roms {
        padding-bottom: 0.5rem;
    }

    img.logo-acn {
        padding-bottom: 1rem;
    }
    .mat-divider-vertical {
        border-right: #e6e6dc 2px solid;
        height: calc(100% - 1rem);
    }
    .app-name,
    nav {
        height: 64px;
        line-height: 64px;
        margin-top: 16px;
    }
    .app-name {
        margin: 0 16px;
        height: 48px;
        margin-top: 2px;
        font-size: 1rem;
    }
    nav {
        display: flex;
        flex-direction: row;
        margin-right: 26px;
        a {
            font-size: 1rem;
            display: block;
            height: 64px;
            line-height: 64px;
            margin: 0 8px;
            text-decoration: none;
            color: #000000;
            padding: 0 16px;
            &:hover,
            &:active,
            &.active {
                border-bottom: #a100ff solid 4px;
            }
        }
        #user-menu {
            align-self: center;
        }
    }
}
.app-content {
    margin: 32px;
}

:host ::ng-deep .mat-mdc-card-title {
    font-weight: 900;
    font-size: 2.5rem;
    font-family: graphik-black, 'Helvetica Neue', sans-serif;
    margin-bottom: 16px;
}

:host ::ng-deep .mat-mdc-card {
    border-radius: 0;
    box-shadow: none;
}

:host ::ng-deep .mdc-button {
    border-radius: 0;
}
