<mat-card>
    <mat-card-header>
        <mat-card-title>Query</mat-card-title>
    </mat-card-header>

    <form [formGroup]="queryFormGroup" (submit)="queryData()">
        <mat-card-content>
            <mat-form-field style="width: 100%" appearance="outline">
                <mat-label>Cypher Query Statement</mat-label>
                <textarea matInput formControlName="query" style="font-family: monospace"></textarea>
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit">Execute Query</button>
        </mat-card-content>
    </form>
</mat-card>
<mat-card *ngIf="!error; else noError" style="margin-top: 16px">
    <mat-card-header>
        <mat-card-title>Query Error</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <pre style="color: red">{{ error.error.message }}</pre>
    </mat-card-content>
</mat-card>
<ng-template #noError>
    <mat-card style="margin-top: 16px">
        <mat-card-header>
            <mat-card-title>Results</mat-card-title>
            <mat-card-subtitle>Total Count: {{ data.totalCount }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="data.items" *ngIf="data.items.length > 0">
                <!-- Position Column -->
                <ng-container [matColumnDef]="col" *ngFor="let col of getCols()">
                    <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                    <td mat-cell *matCellDef="let element">
                        <pre>{{ element[col] | jsonStringify }}</pre>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="getCols()"></tr>
                <tr mat-row *matRowDef="let row; columns: getCols()"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</ng-template>
